In [2]:
# import libraries
import sys, csv

import altair as alt
import pandas as pd

In [3]:
# read excel
df = pd.read_excel('GLB.Ts_dSST.xlsx')
df.head()

                            Land-Ocean: Global Means
0  Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,N...
1  1880,-.29,-.18,-.11,-.19,-.11,-.23,-.21,-.09,-...
2  1881,-.15,-.17,.04,.04,.02,-.20,-.06,-.02,-.13...
3  1882,.15,.15,.04,-.18,-.16,-.26,-.20,-.05,-.10...
4  1883,-.31,-.39,-.13,-.17,-.20,-.12,-.08,-.15,-...

In [4]:
df.head()

                            Land-Ocean: Global Means
0  Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,N...
1  1880,-.29,-.18,-.11,-.19,-.11,-.23,-.21,-.09,-...
2  1881,-.15,-.17,.04,.04,.02,-.20,-.06,-.02,-.13...
3  1882,.15,.15,.04,-.18,-.16,-.26,-.20,-.05,-.10...
4  1883,-.31,-.39,-.13,-.17,-.20,-.12,-.08,-.15,-...

In [5]:
df['Land-Ocean: Global Means'][0].split(",")

['Year',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'J-D',
 'D-N',
 'DJF',
 'MAM',
 'JJA',
 'SON']

In [6]:
data = []
for i in range(1, len(df)):
    year = df['Land-Ocean: Global Means'][i].split(",")[0]
    temperatures = df['Land-Ocean: Global Means'][i].split(",")[1:13]
    e = 0
    for t in temperatures:
        e += float(t)
    e = e/12
    data.append((year, e))

In [7]:
data

[('1880', -0.18583333333333332),
 ('1881', -0.09500000000000001),
 ('1882', -0.10416666666666667),
 ('1883', -0.18916666666666668),
 ('1884', -0.2891666666666666),
 ('1885', -0.3108333333333333),
 ('1886', -0.3166666666666667),
 ('1887', -0.3466666666666666),
 ('1888', -0.1791666666666667),
 ('1889', -0.10916666666666668),
 ('1890', -0.3725),
 ('1891', -0.24416666666666664),
 ('1892', -0.26666666666666666),
 ('1893', -0.32),
 ('1894', -0.31500000000000006),
 ('1895', -0.225),
 ('1896', -0.11416666666666665),
 ('1897', -0.11749999999999998),
 ('1898', -0.27666666666666667),
 ('1899', -0.18333333333333335),
 ('1900', -0.09166666666666667),
 ('1901', -0.15583333333333335),
 ('1902', -0.30250000000000005),
 ('1903', -0.39333333333333337),
 ('1904', -0.49500000000000005),
 ('1905', -0.28916666666666674),
 ('1906', -0.22750000000000004),
 ('1907', -0.39666666666666667),
 ('1908', -0.43749999999999994),
 ('1909', -0.47750000000000004),
 ('1910', -0.4383333333333333),
 ('1911', -0.43),
 ('1912', -0.3558333333333333),
 ('1913', -0.35083333333333333),
 ('1914', -0.15666666666666668),
 ('1915', -0.11916666666666666),
 ('1916', -0.325),
 ('1917', -0.43500000000000005),
 ('1918', -0.2791666666666666),
 ('1919', -0.2666666666666668),
 ('1920', -0.2541666666666667),
 ('1921', -0.17333333333333334),
 ('1922', -0.2683333333333333),
 ('1923', -0.24166666666666667),
 ('1924', -0.25166666666666665),
 ('1925', -0.20750000000000002),
 ('1926', -0.08833333333333333),
 ('1927', -0.205),
 ('1928', -0.19166666666666665),
 ('1929', -0.3466666666666667),
 ('1930', -0.1466666666666667),
 ('1931', -0.10333333333333333),
 ('1932', -0.1691666666666667),
 ('1933', -0.2966666666666667),
 ('1934', -0.13833333333333334),
 ('1935', -0.20750000000000002),
 ('1936', -0.15833333333333335),
 ('1937', -0.037500000000000006),
 ('1938', -0.0325),
 ('1939', -0.02916666666666667),
 ('1940', 0.11333333333333333),
 ('1941', 0.18083333333333332),
 ('1942', 0.05249999999999999),
 ('1943', 0.07250000000000001),
 ('1944', 0.2058333333333333),
 ('1945', 0.085),
 ('1946', -0.07166666666666667),
 ('1947', -0.041666666666666664),
 ('1948', -0.10916666666666668),
 ('1949', -0.11083333333333334),
 ('1950', -0.18583333333333338),
 ('1951', -0.06583333333333334),
 ('1952', 0.008333333333333333),
 ('1953', 0.06916666666666667),
 ('1954', -0.14666666666666667),
 ('1955', -0.14333333333333334),
 ('1956', -0.20416666666666664),
 ('1957', 0.04416666666666667),
 ('1958', 0.06916666666666667),
 ('1959', 0.026666666666666672),
 ('1960', -0.02083333333333334),
 ('1961', 0.05583333333333334),
 ('1962', 0.03916666666666667),
 ('1963', 0.07),
 ('1964', -0.19666666666666666),
 ('1965', -0.10500000000000002),
 ('1966', -0.04750000000000001),
 ('1967', -0.021666666666666667),
 ('1968', -0.07500000000000001),
 ('1969', 0.06916666666666667),
 ('1970', 0.03166666666666666),
 ('1971', -0.09083333333333334),
 ('1972', 0.013333333333333336),
 ('1973', 0.16),
 ('1974', -0.08333333333333333),
 ('1975', -0.015000000000000005),
 ('1976', -0.10833333333333334),
 ('1977', 0.16916666666666666),
 ('1978', 0.06250000000000001),
 ('1979', 0.15833333333333333),
 ('1980', 0.2708333333333333),
 ('1981', 0.3283333333333333),
 ('1982', 0.13249999999999998),
 ('1983', 0.31250000000000006),
 ('1984', 0.1608333333333333),
 ('1985', 0.12000000000000001),
 ('1986', 0.18083333333333332),
 ('1987', 0.3308333333333333),
 ('1988', 0.4066666666666667),
 ('1989', 0.2891666666666667),
 ('1990', 0.4366666666666667),
 ('1991', 0.4091666666666667),
 ('1992', 0.21833333333333335),
 ('1993', 0.23750000000000002),
 ('1994', 0.3091666666666667),
 ('1995', 0.44416666666666665),
 ('1996', 0.335),
 ('1997', 0.4683333333333333),
 ('1998', 0.6216666666666667),
 ('1999', 0.3975),
 ('2000', 0.4025),
 ('2001', 0.5358333333333333),
 ('2002', 0.6241666666666666),
 ('2003', 0.6091666666666667),
 ('2004', 0.5341666666666667),
 ('2005', 0.6716666666666667),
 ('2006', 0.6166666666666667),
 ('2007', 0.6383333333333333),
 ('2008', 0.5158333333333335),
 ('2009', 0.6349999999999999),
 ('2010', 0.6991666666666667),
 ('2011', 0.5808333333333333),
 ('2012', 0.6149999999999999),
 ('2013', 0.6408333333333334),
 ('2014', 0.7316666666666666),
 ('2015', 0.8633333333333333),
 ('2016', 0.9858333333333335),
 ('2017', 0.8966666666666666)]

In [8]:
df1 = pd.DataFrame(data, columns =['Year', 'Temperature'])

In [9]:
df1.head()

   Year  Temperature
0  1880    -0.185833
1  1881    -0.095000
2  1882    -0.104167
3  1883    -0.189167
4  1884    -0.289167

In [119]:
years_to_show = ['1904','1944','1998','2014','2015','2016','2017']
bar = alt.Chart(df1).mark_circle(color='orange', size=80).encode(
    x=alt.X('Year:Q',scale=alt.Scale(domain=[1880,2020]), axis=alt.Axis(title=None,values=['1880','1890','1900','1910','1920','1930','1940','1950','1960','1970','1980','1990','2000','2010'])),
    y=alt.Y('Temperature:Q', axis=alt.Axis(title=None)),
).properties(title = alt.TitleParams(["Annual Global Surface Temperature","Relative to Late Century Average"], anchor='start', ))
rule = alt.Chart(df1).mark_rule(color='black').encode(
    y='mean(Temperature)'
)
text = alt.Chart(df1).mark_text(dx=20, dy=0).encode(
    x=alt.X('Year:Q', aggregate={'argmax': 'Temperature'}),
    y=alt.Y('max(Temperature):Q'),
    text=alt.condition(alt.datum.Year >= '2014', 'Year:Q', alt.value(''))
)
text1 = alt.Chart(df1).mark_text(dx=20, dy=0).encode(
    x=alt.X('Year:Q', aggregate={'argmax': 'Temperature'}),
    y=alt.Y('max(Temperature):Q'),
    text=alt.condition(alt.datum.Year == '1944', 'Year:Q', alt.value(''))
)
text2 = alt.Chart(df1).mark_text(dx=-20, dy=0).encode(
    x=alt.X('Year:Q', aggregate={'argmax': 'Temperature'}),
    y=alt.Y('max(Temperature):Q'),
    text=alt.condition(alt.datum.Year == '1998', 'Year:Q', alt.value(''))
)
text3 = alt.Chart(df1).mark_text(dx=-20, dy=0).encode(
    x=alt.X('Year:Q', aggregate={'argmax': 'Temperature'}),
    y=alt.Y('max(Temperature):Q'),
    text=alt.condition(alt.datum.Year == '1904', 'Year:Q', alt.value(''))
)
text4 = alt.Chart(df1).mark_text(dx=425,dy=20).encode(
    y='mean(Temperature)',
    text=alt.value('COLDER')
)
text5 = alt.Chart(df1).mark_text(dx=395,dy=-40).encode(
    y='mean(Temperature)',
    text=alt.value('HOTTER THAN THE')
)
text6 = alt.Chart(df1).mark_text(dx=390,dy=-20).encode(
    y='mean(Temperature)',
    text=alt.value('1880-1899 AVERAGE')
)
text7 = alt.Chart(df1).mark_text(dx=-450,dy=300, color='gray').encode(
    text=alt.value('source: NASA')
)

(bar+rule+text+text1+text2+text3+text4+text5+text6+text7).configure_view(width = 900, height = 500)

alt.LayerChart(...)